<!DOCTYPE html>
<html>
    <head>
        <style>
            footer {
                position:absolute;
                bottom:0;
                width:100%;
                height:60px;
            }
        </style>
    </head>
    <body>
        <div align="center">
			<br><a href="http://www.auplod.com/i-aolpud755f8.html"><img src="http://www.auplod.com/u/aolpud755f8.gif" width="400" height="50" alt="Image" border="0" /></a><br>
			<br><br>
            <img src="http://photos.gograph.com/thumbs/CSP/CSP990/k10980703.jpg">
            <br>
            <form method="POST" action="/locate">
                <br><h3 style='color:red;'>We could not find the address! Try Again!</h3>
                <p><input type="text" name="address"required value"" placeholder="Enter another address"></p>
                <p><class="submit"><input type="submit" name="Locate" value="Locate"></p>
            </form>
            <footer>
                <p><small>LocationApp by Savithru Lokanath</small>
                <a href="https://github.com/savithruml?tab=repositories"><small>Click for Source</small></a></p>
            </footer>
        </div>
    </body>
</html>
